---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
content
{% block content %}
  {% for record in records %}record
    {{ record.mParam }}
  {% endfor %}
{% endblock %}

{% set records = data.records %}
