---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% block content %}
  {% for record in records %}
    {{ record.mParam }}
  {% endfor %}
{% endblock %}

{% set records = data.records %}
